Repository byteavenueHQ/template-nodejs-api: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

'*.js':
  - prettier --write
  - eslint --fix
  - git add
'*.{json,md}':
  - prettier --write
  - git add

v0.0.4
  package.json
Due: prettier --write

update lintstaged cofiguration
  .lintstagedrc
Due: none

v0.0.5
  package.json
Due: prettier --write

update readme and add github stale and PR template file
  .github/PULL_REQUEST_TEMPLATE.md
  .github/stale.yml
  README.md
Due: prettier --write

v0.0.6
  package.json
Due: prettier --write

update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

v0.0.7
  package.json
Due: prettier --write

update error handler
  README.md
  app.js
Due: prettier --write, eslint --fix

Spelling error in ReadME
  README.md
Due: prettier --write

move to es6
  .eslintignore
  .eslintrc
  app.js
  bin/www
  bin/www.js
  package.json
  src/components/db/setup.js
  src/components/user/controller.js
  src/components/user/index.js
  src/components/user/index.spec.js
  src/docs/index.js
  test/index.js
Due: prettier --write, eslint --fix

v0.0.8
  package.json
Due: prettier --write

fix dotenv issue
  app.js
  config.js
Due: prettier --write, eslint --fix
